[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "nv_shared_sources"]
	path = nv_shared_sources
	url = https://github.com/nvpro-samples/shared_sources.git
